{
  "version": "1.0.4",
  "notes": "Release v1.0.4",
  "pub_date": "2026-05-26T14:36:59Z",
  "platforms": {
    "darwin-aarch64": {
      "url": "https://github.com/fong-hub/peek/releases/download/v1.0.4/Peek_1.0.4_aarch64.dmg",
      "signature": ""
    },
    "darwin-x86_64": {
      "url": "https://github.com/fong-hub/peek/releases/download/v1.0.4/Peek_1.0.4_x64.dmg",
      "signature": ""
    },
    "windows-x86_64": {
      "url": "https://github.com/fong-hub/peek/releases/download/v1.0.4/Peek_1.0.4_x64.msi",
      "signature": ""
    }
  }
}
