{
  "version": "1.0.0-beta.4",
  "notes": "Release v1.0.0-beta.4",
  "pub_date": "2026-05-12T15:16:20Z",
  "platforms": {
    "darwin-aarch64": {
      "url": "https://github.com/fong-hub/peek/releases/download/v1.0.0-beta.4/Peek_1.0.0-beta.4_aarch64.dmg",
      "signature": ""
    },
    "darwin-x86_64": {
      "url": "https://github.com/fong-hub/peek/releases/download/v1.0.0-beta.4/Peek_1.0.0-beta.4_x64.dmg",
      "signature": ""
    },
    "windows-x86_64": {
      "url": "https://github.com/fong-hub/peek/releases/download/v1.0.0-beta.4/Peek_1.0.0-beta.4_x64.msi",
      "signature": ""
    }
  }
}
